{% extends "layout.html" %}

{% block title %}
   History
{% endblock %}

{% block main %}
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in transactions %}
        <tr>
            <td>{{ row["symbol"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["price"] }}</td>
            <td>{{ row["date"]  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}